@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300..700&display=swap');
:root{
    --yellow-color:#FFFF00;
    --yellow-light:#f8f184;
    --blue-color:#19587d;
    --white-color:#ffffff;
    --gradient-white:#eddebf76;
    --gradient-red:#890009d2;
    --gradient-blue: #19587d47;


}
h1{
    color: red;
    font-family: 'rajdhani';
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 0 auto;
}

body{
    background-color: black;
    color: white;
    font-family: 'space grotesk';
    font-weight: 300;
}

.up-bar{
    border-top: #bcbbbd8c solid 4px;
    position: relative;
    top: 132px;
    width: 90%;
    left: 102px;
}


nav{
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding-top: 50px;

}
ul{
    list-style: none;

}
nav ul li a{
    color:var(--white-color);
    font-size: 25px;
    font-weight: 500;
    font-family:'rajdhani';
    
    

}
nav ul  a:hover{
    color: var(--yellow-color);
}
.all-hover:hover{
    filter: invert(4%) sepia(100%) saturate(2030%) hue-rotate(354deg) brightness(105%) contrast(107%);color: var(--yellow-color);
    
}
/* Design de la section hero */

#hero {
    background-image: url(../Illustrations/Bathome1.png);
    background-position: top center;
    background-size: cover;
    height: 5%;
    background-repeat: no-repeat;
    background-color: #19587D;
}

#hero .titre{
    margin: 20px 0;
}
.btn{
    text-decoration: none;
    color: var(--white-color);
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 30px;
    background: linear-gradient(
        80deg,var(--gradient-white),var(--gradient-red)
    );
    box-shadow: var(--);
    font-family: 'space grotesk';
    opacity: 40%;
}
.btn:hover{
    background-color: white;
    opacity: 100%;
}

#hero .content{
    margin-top: 100px;
    font-size: 20px;
}

#hero .texte{
    text-align: center;
    width: 45%;
    margin: 0 auto;
}
#hero .fleche{
    display: block;
    margin: 0 auto;
    margin-top: 400px;
}
/*partie scrolling*/
.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 10px;
    top: 200px;
}
.scroll .social{
    margin-top: 50px;
}
.social:hover{
    filter: invert(4%) sepia(100%) saturate(2030%) hue-rotate(354deg) brightness(105%) contrast(107%);color: var(--yellow-color);
    cursor: pointer;
}


/*Design de la section batman personnage */

.batman-personnage{
    display: flex;
    justify-content: space-between;

}
.batman-item:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#batman-cinema, #batman-justice-league, #batman-nemesis, #batman-allies{
    margin-top: 40px;
}
#batman-cinema .titre, #batman-justice-league .titre, #batman-nemesis .titre, #batman-allies .titre{
    font-weight: bold;
    margin: 0px;
}
#batman-cinema .description, #batman-justice-league .description, #batman-nemesis .description, #batman-allies .description{
    margin-bottom: 40px;
    text-align: justify;
    width: 100%;
    font-size: 21px;
}
#batman-cinema .personnage-info, #batman-justice-league .personnage-info, #batman-nemesis .personnage-info, #batman-allies .personnage-info{
    text-align: center;
}


.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding-top: 150px;
}
/*Design de la partie multimedia*/
#multimedia button{
    position: relative;
    top: 155px;
    background: none;
    border: none;
}
#multimedia .right{
    right: -85%;
}

#multimedia .slider-multimedia{
    display: flex;
    width: 50%;
    margin: 40px auto;
}
#multimedia .slider-image{
    width: 80%;
    height: 100%;
}
#multimedia .slider-content{
    padding: 20px;
    background: linear-gradient(
        80deg,var(--gradient-white),var(--gradient-blue)
    );
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#multimedia p{
    font-size: 14px;
}
#multimedia .yellow{
    color: #FFFF00;
}

/*Design de la partie Contact - Formulaire*/

#contact{
    background: linear-gradient(
        80deg,var(--gradient-white),var(--gradient-blue)
    ) ;
    padding: 70px 0;
    margin-top: 200px;
    
}

#contact .form{
    width: 50%;
    margin: 0 auto;
}
#contact h2{
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
    margin-top: 32px;
}
#contact .titre{
    display: block;
    margin: 28px 0;
}
#contact .form input[type='email'], textarea{
    display: block;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;
    border-bottom: 2px solid darkgray;
    background-color: transparent;
    padding: 10px;
    margin-bottom: 50px;
}
#contact .news{
    margin: 15px 0;
    border-bottom: 2px solid darkgray;
    padding-top: 15px;
}
#contact .icon img{
    transform: rotate(90deg);
    width: 20px;
}
::placeholder{
    color: #f8f08433;
    font-size: 15px;
}
.btn-group{
    padding: 10px;
    display: flex;
    justify-content: space-around;

}
.form input[type='radio']{
    opacity: 0;
    
}
.btn-group label{
    cursor: pointer;
    border: 2px solid;
    padding: 10px;
    border-image: linear-gradient(
        69deg, #eddebf39, #19587d60
    ) 1;
    opacity: 40%;
}
.btn-group label:hover{
    background: linear-gradient(
        80deg,var(--gradient-white),var(--gradient-blue)
    );
    opacity: 100%;
}

input[type='submit']{
    display: block;
    width: 230px;
    margin: 25px auto;
    padding: 15px;
    border: none;
    cursor: pointer;
    background: linear-gradient(
        80deg,var(--gradient-white),var(--gradient-red)
    );
}
#citations{
    margin: 90px;
}
#citations .citation-carte{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-size: 23px;
}
#citations .citation-auteur{
    font-size: 17px;
    padding-top: 30px;
    font-family: 'rajdhani';
}
#citations .guillemet-close{
    float: right;
}
/*Design de mon footer*/
footer{
    margin-top: 160px;
}
footer .text-footer{
    text-align: center;
    font-size: 10px;
    width: 100%;
    margin-top: 200px;
}
footer .social-footer{
    text-align: center;
    margin-top: 50px;
}
footer .social-item{
    padding: 15px;
    ;
}
footer .social-item:hover{
    filter: invert(4%) sepia(100%) saturate(2030%) hue-rotate(354deg) brightness(105%) contrast(107%);color: var(--yellow-color);
}