@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300..700&display=swap');
:root{
    --yellow-color:#FFFF00;
    --yellow-light:#f8f184;
    --blue-color:#19587d;
    --white-color:#ffffff;
    --gradient-white:#eddebf76;
    --gradient-red:#890009d2;
    --gradient-blue: #19587d47;


}
/*fadeinleft des éléments(titre, texte, illustrations)*/
.titre, .description, .personnage-info, .texte, .citation-text, .citation-auteur, .slider-multimedia, .form, .batman-item, .justice-item, .image-bande-annonce, .right-bat, .chauve-souris{
    animation: fadeinleft 6s;
}
@keyframes fadeinleft {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

h1{
    color: white;
    font-family: 'rajdhani';
    font-weight: 400;
    font-size: 36px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 0 auto;
}

body{
    background-color:black;
    color: white;
    font-family: 'space grotesk';
    font-weight: 300;
}

.up-bar{
    border-top: #BCBBBD solid 4px;
    opacity: 20%;
    position: relative;
    top: 132px;
    width: 87.9%;
    left: 102px;
}

.left-bar{
    position: absolute;
    width: 1px;
	height: 1070%;
	top: 0;
	bottom: 0;
	left: 102px;
	border-right: #BCBBBD solid 4px;
    opacity: 20%;
}

.right-bar{
    position: absolute;
    width: 1px;
	height: 1070%;
	top: 0;
	bottom: 0;
	right: 102px;
	border-right: #BCBBBD solid 4px;
    opacity: 20%;
}
nav{
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding-top: 50px;

}
ul{
    list-style: none;

}
nav ul li a{
    color:var(--white-color);
    font-size: 25px;
    font-weight: 500;
    font-family:'rajdhani';
    text-decoration: none;
    
}
nav ul  a:hover{
    color: var(--yellow-color);
    text-decoration: underline;
}
.all-hover:hover{
    filter: invert(4%) sepia(100%) saturate(2030%) hue-rotate(354deg) brightness(105%) contrast(107%);color: var(--yellow-color);
    
}
/* Design de la section hero */

#hero {
    background-image: url(../Illustrations/Bathome1.png);
    background-position: top-left;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-color: rgb(8, 0, 0);
    margin-top: 5px;
}

#hero .titre{
    margin: 20px 0;
    margin-bottom: 50px;
}
.btn{
    text-decoration: none;
    color: var(--white-color);
    font-size: 20px;
    padding: 25px 60px;
    margin: 25px ;
    background: linear-gradient(
        60deg,var(--gradient-white),var(--gradient-red)
    );
    font-family: 'rajdhani';
    opacity: 40%;
}
.btn:hover{
    background-color: white;
    opacity: 100%;
}

#hero .content{
    margin-top: 100px;
    font-size: 20px;
}

#hero .texte{
    text-align: center;
    width: 45%;
    margin: 0 auto;
    font-size: 20px;
}
#hero .fleche{
    display: block;
    margin: 0 auto;
    margin-top: 650px;
}

/*partie scrolling*/
.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 51px;
    top: 270px;
}
.scroll .social{
    margin-top: 50px;
}
.social:hover{
    filter: invert(4%) sepia(100%) saturate(2030%) hue-rotate(354deg) brightness(105%) contrast(107%);color: var(--yellow-color);
    cursor: pointer;
}
/*Design de la section batman personnage */

.batman-personnage{
    display: flex;
    justify-content: space-between;

}
.batman-item:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#batman-cinema, #batman-justice-league, #batman-nemesis, #batman-allies{
    margin-top: 100px;
}
#batman-cinema .titre, #batman-justice-league .titre, #batman-nemesis .titre, #batman-allies .titre{
    font-weight: bold;
    margin-top: 200px;
    font-size: 40px;
}
#batman-cinema .description, #batman-justice-league .description, #batman-nemesis .description, #batman-allies .description{
    margin-bottom: 60px;
    margin-top: 40px;
    text-align: justify;
    width: 100%;
    font-size: 18px;
}
#batman-cinema .personnage-info, #batman-justice-league .personnage-info, #batman-nemesis .personnage-info, #batman-allies .personnage-info{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'rajdhani';
    font-style: medium;
}
/*position sur le coté de la page*/
.chauve-souris{
    top: 2305px;
    left: 230px;
    position: absolute;
}
.right-bat{
    position: absolute;
    right: 1px;
    top: 3150px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding-top: 150px;
}
/*Design de la partie multimedia*/
#multimedia button{
    position: relative;
    top: 155px;
    background: none;
    border: none;
}
#multimedia .right{
    right: -90%;
}

#multimedia .slider-multimedia{
    display: flex;
    width: 45%;
    margin: 40px auto;
    
    
}

#multimedia .slider-image{
    width: 50%;
    padding-top: 12.5px;
    border: 1px solid rgba(169, 169, 169, 0.449);

    height: 0%;
}
#multimedia .slider-content{
    padding: 20px;
    background: linear-gradient(
        100deg,var(--gradient-white),var(--gradient-blue)
    );
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px ;
    margin-bottom: 200px;
    border: 1px solid rgba(169, 169, 169, 0.301);
    border-right: transparent;
    height: 0%;
}
#multimedia p{
    font-size: 14px;
    padding-bottom: 5px;
}
#multimedia .yellow{
    color: #FFFF00;
}

/*Design de la partie Contact - Formulaire*/

#contact{
    background: linear-gradient(
        150deg,var(--gradient-white),var(--gradient-blue)
    ) ;
    padding: 70px 0;
    margin-top: 200px;
    
}

#contact .form{
    width: 50%;
    margin: 0 auto;
}
#contact h2{
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
    margin-top: 32px;
}
#contact .titre{
    display: block;
    margin: 28px 0;
}
#contact .form input[type='email'], textarea{
    display: block;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;
    border-bottom: 2px solid darkgray;
    background-color: transparent;
    padding: 10px;
    margin-bottom: 50px;
}
#contact .news{
    margin: 15px 0;
    border-bottom: 2px solid darkgray;
    padding-top: 15px;
}
#contact .icon img{
    transform: rotate(90deg);
    width: 20px;
}
::placeholder{
    color: #f8f08433;
    font-size: 15px;
}
.btn-group{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    color: #ffffff;

}
.form input[type='radio']{
    opacity: 0;
    
}
.btn-group label{
    cursor: pointer;
    border: 2px solid;
    padding: 10px;
    border-image: linear-gradient(
        69deg, #eddebf39, #19587d60
    ) 1;
    opacity: 40%;
}
.btn-group label:hover{
    background: linear-gradient(
        80deg,var(--gradient-white),var(--gradient-blue)
    );
    opacity: 100%;
}

input[type='submit']{
    display: block;
    color: #ffffff;
    opacity: 40%;
    width: 230px;
    margin: 25px auto;
    padding: 15px;
    border: none;
    cursor: pointer;
    background: linear-gradient(
        80deg,var(--gradient-white),var(--gradient-red)
    );
}
input[type='submit']:hover{
    background: linear-gradient(
        80deg,var(--gradient-white),var(--gradient-red)
    );
    opacity: 100%;
}
#citations{
    margin: 90px;
}
#citations .citation-carte{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-size: 23px;
}
#citations .citation-auteur{
    font-size: 17px;
    padding-top: 30px;
    font-family: 'rajdhani';
}
#citations .guillemet-close{
    float: right;
}
/*Design de mon footer*/
footer{
    margin-top: 160px;
}
footer .text-footer{
    text-align: center;
    font-size: 10px;
    width: 100%;
    margin-top: 200px;
}
footer .social-footer{
    text-align: center;
    margin-top: 50px;
}
footer .social-item{
    padding: 15px;
    ;
}
footer .social-item:hover{
    filter: invert(4%) sepia(100%) saturate(2030%) hue-rotate(354deg) brightness(105%) contrast(107%);color: var(--yellow-color);
}